<ion-header>
    <ion-toolbar>
        <ion-title class="movie-header">Movie</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card tappable="true" *ngFor="let film of films"
              (click)="goMovie(film)">
        <img class="movie-photo-format" src="{{film.urlPhoto}}">
        <ion-card-header>{{film.name}}</ion-card-header>
    </ion-card>
    <form #movieForm="ngForm">
        <p>Введите id удаляемого фильма: <input type="text" placeholder="введите id" [(ngModel)]="deleteId"
                                                name="id"></p>
    </form>
    <p>Проверьте введенное Id: {{deleteId}}</p>
    <ion-button (click)="moviesService.deleteMovies(deleteId)">Delete</ion-button>
    <form #movieForm="ngForm">
        <p>Введите id добавляемого фильма: <input type="text" placeholder="введите id" [(ngModel)]="addId"
                                                  name="id"></p>
        <p>Введите название добавляемого фильма: <input type="text" placeholder="введите название"
                                                        [(ngModel)]="addName" name="id"></p>
        <p>Введите url изображения добавляемого фильма: <input type="text" placeholder="введите URL"
                                                               [(ngModel)]="addUrl" name="URL"></p>
        <ion-button (click)="moviesService.addMovies(addId,addName,addUrl)">add new movie</ion-button>
    </form>
    <app-movies-detail #detail></app-movies-detail>
</ion-content>
