.movie-header {
  text-align: center;
  color: blue;
  font-size: xx-large;
  font-family: "URW Chancery L", Cursive;
}

.movie-photo-format {
  max-height: 100px;
}

.movie-name-style {
  text-align: center;
  color: #222428;
  font-size: large;
  font-family: "URW Chancery L", Cursive;
}

.movie-card-format {
  width: 100px;
  height: 120px;
}
