<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title>movie</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    Vitaly
</ion-content>
